<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Word repeat</title>
    </head>
    <body>
        <div class="container">
            <h1>Error Please only enter one word into the word feild!</h1>
        </div>

    </body>
</html>
