<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Check How many time a word is repeated.</title>
    </head>
    <body>
        <div class="container">
            <h1> Repeated Word!!!</h1>
            <form action="/repeat_result" method= "post">

                <div class="form-group">
                    <label for="word">Enter Word:</label>
                    <input type="text" id="word" name="word">
                    </input>
               </div>
                <div class="form-group">
                    <label for="repeat">Enter String:</label>
                    <input type="text" id="repeat" name="repeat">
                    </input>
              </div>

                <p> <button type="submit" class="btn-success">Submit</button></p>

            </form>
        </div>

    </body>
</html>
